{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1>Cache</h1>

    <h3><a href="{{ path('cache_file') }}">File</a> </h3>
    <h3><a href="{{ path('cache_redis') }}">Redis</a> </h3>
    <h3><a href="{{ path('cache_memcached') }}">Memcached</a> </h3>
{% endblock %}
